
{{ define "main" }}
    <article class='intro'>
        {{ .Content }}
        <h2>{{ .Title }}</h2>
    </article>
    <article class='buttons'>
        {{ range .Pages }}
            <a href="{{ .RelPermalink }}"><button>{{ .Title }}</button></a>
        {{ end }}
    </article>
{{ end }}
