
{{ define "main" }}
    {{ $content_parts := split .Content "||||||||||" }}

    <article class="land">
        {{ index $content_parts 1 | safe.HTML }}
        <section class="land-title">
            {{ index $content_parts 0 | safe.HTML }}
        </section>
    </article>
    <article class="features">
        {{ index $content_parts 2 | safe.HTML }}
    </article>
{{ end }}
