
{{ define "main" }}
    {{ $content_parts := split .Content "||||||||||" }}

    <article class="intro">
        {{ index $content_parts 0 | safe.HTML }}
        <h2>{{ .Title }}</h2>
    </article>
    <article class="description">
        <section>
            {{ index $content_parts 1 | safe.HTML }}
        </section>
        <section>
            <h3>O que saber antes</h3>
            {{ index $content_parts 2 | safe.HTML }}
        </section>
        <section>
            <h3>Pontos turísticos</h3>
            {{ index $content_parts 3 | safe.HTML }}
        </section>
        <section>
            <h3>Eventos e atrações</h3>
            {{ index $content_parts 4 | safe.HTML }}
        </section>
    </article>
{{ end }}
